 h1 {
         background-color: 9999cc;
         color: 333333;
         font-size: 38;
         width: 650px;
         font-family:Comic Sans MS;
        }
 table {
             background-color: cccccc;
             font-size:19
            }
  th { 
         font-size: 23;
       }